/* --- Styles universales --- */
* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --blue: #13173A;
  --light_blue: #272e6f;
  --white: #ffffff; 
  --gray: #d0d0d0;
  --light_gray: #fafafa;
}

.container {
  margin: auto;
  width: 90%;
}

b {
  font-weight: 600;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

/* --- Sección para el style de index --- */
#container_doble {
  display: flex;
}

#bienvenido {
  flex-basis: 110%;
  min-height: 100%;
  padding: 20px;
  padding-left: 40px ;
}

#bienvenido h1 {
  font-size: 3.1rem;
}

#bienvenido p {
  font-size: 1.1rem;
  max-width: 600px;
}

#img_logo_CD {
  max-height: 170px;
}

#selec {
  flex-basis: 80%;
  background: var(--blue);
  min-height: 100vh;
}

#selec h2 {
  color: var(--white);
  text-align: center;
  margin-top: 15vh;
}

#img_selec {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 300px;
}

#selec form {
  padding: 20px;
  margin: auto;
  width: 50%;
}

.submit {
  width: 100%;
  margin: 15px 0 17px 0;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  background: var(--light_gray);
  border: 2px solid var(--light_gray);
  transition: 0.3s;
  font-weight: 600;
}

.submit:hover, .submit:focus  {
  cursor: pointer;
  background: var(--light_blue);
  border: 2px solid var(--light_blue);
  color: var(--white);
  scale: 1.1;
}

/* --- Sección para el style de login --- */
label {
  color: var(--white);
}

.input_text {
  width: 100%;
  margin: 10px 0 12px 0;
  padding: 10px 0 10px 0;
  background: var(--gray);
  border: var(--gray);
  border-radius: 15px;
}

.input_text:focus {
  background: var(--white);
  border: var(--white);
}

/* --- Sección para el style de alumnos --- */
.accordion {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  transition: 0.4s;
  font-weight: 600;
  font-size: 16px;
}

.panel img {
  max-height: 170px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 15px 0 0 10px;
  display: block;
}

.panel {
  padding: 0 18px;
  background-color: #eee;
  border: solid 2px var(--light_blue);
  overflow: hidden;
  max-height: 0;
  border-radius: 0 0 10px 10px;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
  font-weight: 300;
}

.panel table {
  border-collapse: collapse;
  width: 100%;
}

.panel td, .panel th {
  border: 1px solid var(--gray);
  padding: 7px;
}

.active, .accordion:hover, .accordion:focus {
  background-color: var(--light_blue);
}

.accordion:after {
  content: '\25be';
  font-size: 13px;
  color: var(--white);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25b4";
}


@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  #bienvenido {
    display: none;
  }

  #selec {
    flex-basis: 100%;
  }

  .accordion {
    font-size: 12px;
  }

  .panel {
    font-size: 12px;
  }

  .panel img {
    display: none;
  }

  td {
    font-size: 10px;
  }
}
